/* Website's Font */
@font-face {
    font-family: "Verona Bold";
    src: url('../css/fonts/Verona-Bold.ttf');
}

body {
    font-family: "Verona Bold";
    color: black;
}

html {
    background-image: url("../img/grain.jpg");
    background-size: cover;
}

#home-div {
    margin-top: -64.8px;
}

.title {
    font-size: 120px;
    line-height: 277px;
    text-align: center;
    margin-top: 1.5%;
    letter-spacing: -0.04em;

    text-shadow: 29px 4px 4px rgba(0, 0, 0, 0.25);
}

.home {
    position: absolute;
    width: 147px;
    height: 63px;
    left: 1300px;
    top: 58px;

    font-family: "Verona Bold";
    font-size: 50px;
    line-height: 63px;
    letter-spacing: -0.04em;

    background: transparent;
    border: none;

    color: #000000;

    text-shadow: 6px 4px 4px rgba(0, 0, 0, 0.25);

    cursor: pointer;
    text-decoration: none;
}

.home:hover {
    opacity: 0.6;
    text-decoration: underline;
}

.explore {
    position: absolute;
    width: 147px;
    height: 63px;
    right: 1300px;
    top: 58px;

    font-family: "Verona Bold";
    font-size: 50px;
    line-height: 63px;
    letter-spacing: -0.04em;

    background: transparent;
    border: none;

    color: #000000;

    text-shadow: 6px 4px 4px rgba(0, 0, 0, 0.25);

    cursor: pointer;
    text-decoration: underline;
}

.explore-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.explore-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
.explore-content a:hover {background-color: #f1f1f1}
  
.explore:hover .explore-content {
    display: block;
}

.explore:hover {text-decoration: none}

/* Carousel */

.carousel {
    position: relative;
    width: 500px;
    height: 400px;
    margin: 0 auto;
    margin-top: -10.5%;
}

.carousel__image {
    width: 500px;
    height: 400px;
    object-fit: contain;
}

.carousel__track-container {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.carousel__track {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in;
}

.carousel__slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    opacity: 0.3;
    cursor: pointer;
}

.carousel__button:hover {
    opacity: 1;
}

.carousel__button--left {
    left: -70px;
}

.carousel__button--right {
    right: -70px;
}

.carousel__button img {
    width: 50px;
}

.carousel__nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.carousel__indicator {
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: rgba(256, 256, 256, 0.5);
    margin: 0 15px;
    cursor: pointer;
    margin-top: -3%;
}

.carousel__indicator.current-slide {
    background: rgba(0,0,0,0.75);
}

.is-hidden {
    display: none;
}

#connect {
    font-size: 35px;
    line-height: 63px;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -0.3%;
    letter-spacing: -0.04em;
    text-decoration: none;
    background: transparent;
    border: none;
    cursor: pointer;
    font-family: "Verona Bold";

    text-shadow: 6px 4px 4px rgba(0, 0, 0, 0.25);
}

#connect:hover {
    opacity: 0.6;
    text-decoration: underline;
    cursor: pointer;
}

#connect_overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 50%;
    height: 75%; 
    top: 10%;
    left:25%;
    right: 0;
    bottom: 0;
    z-index: 2;
    border-radius: 35px;
    border: 2px solid black;
    background-color: rgba(256,256,256,1);
    cursor: pointer; /* Add a pointer on hover */
}

#connect-overlay-text {
    position: absolute;
    font-size: 30px;
    color: black;
    text-align: center;
    top: 20%;
    left: 0;
}

#email {
    border-radius: 35px;
    border: 2px solid black;
    height: 25px;
    width: 220px;
    padding: 7px;
    font-size: 20px;
    font-family: "Verona Bold";
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.connect-socials {
    width: 40px;
    height: 40px;
}

#soundcloud {
    width: 50px;
    height: 50px;
}

li {
    margin-right: 10px;
}

footer {
    font-size: 25px;
    line-height: 50px;
    text-align: center;
    letter-spacing: -0.04em;

    text-shadow: 6px 4px 4px rgba(0, 0, 0, 0.25);
}

/* 2x2 Grid Layout */

.albums {
    height: 400px;
    width: 400px;
    padding: 20px;
    display: block;
    margin-left: 280px;
    border-radius: 35px;
    cursor: pointer;
    margin-top: -50px;
}

.album-grid {
    height: 1100px;
    display: grid;
    grid-template-columns: 500px 500px;
    grid-row: auto auto;
    grid-column-gap: 10px;
}

/* Overlay */

.remote {
    position: relative;
    width: 400px;
}

.remote-overlay {
    position: absolute;
    top: 0;
    left: 330px;
    width: 300px;
    height: 300px;
    background: rgba(256, 256, 256, 0.9);
    color: black;
    border-radius: 35px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    cursor: pointer;
    transition: opacity 0.25s;
}

.remote-overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.remote-overlay:hover {
    opacity: 1;  
}

.remote-overlay:hover > * {
    transform: translateY(0);
}

.remote-title {
    font-size: 2em;
}

.remote-description {
    font-size: 1em;
    margin-top: 0.25em;
}

#listen {
    color: black;
}

#listen:hover {
    opacity: 0.5;
    text-decoration: none;
}

.nh {
    position: relative;
    width: 400px;
}

.nh-overlay {
    position: absolute;
    top: 0;
    left: 330px;
    width: 300px;
    height: 300px;
    background: rgba(256, 256, 256, 0.9);
    color: black;
    border-radius: 35px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    cursor: pointer;
    transition: opacity 0.25s;
}

.nh-overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.nh-overlay:hover {
    opacity: 1;  
}

.nh-overlay:hover > * {
    transform: translateY(0);
}

.nh-title {
    font-size: 2em;
}

.nh-description {
    font-size: 1em;
    margin-top: 0.25em;
}

.spring {
    position: relative;
    width: 400px;
}

.spring-overlay {
    position: absolute;
    top: 0;
    left: 330px;
    width: 300px;
    height: 300px;
    background: rgba(256, 256, 256, 0.9);
    color: black;
    border-radius: 35px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    cursor: pointer;
    transition: opacity 0.25s;
}

.spring-overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.spring-overlay:hover {
    opacity: 1;  
}

.spring-overlay:hover > * {
    transform: translateY(0);
}

.spring-title {
    font-size: 2em;
}

.spring-description {
    font-size: 1em;
    margin-top: 0.25em;
}

.narwhals {
    position: relative;
    width: 400px;
}

.narwhals-overlay {
    position: absolute;
    top: 0;
    left: 330px;
    width: 300px;
    height: 300px;
    background: rgba(256, 256, 256, 0.9);
    color: black;
    border-radius: 35px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    cursor: pointer;
    transition: opacity 0.25s;
}

.narwhals-overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.narwhals-overlay:hover {
    opacity: 1;  
}

.narwhals-overlay:hover > * {
    transform: translateY(0);
}

.narwhals-title {
    font-size: 2em;
}

.narwhals-description {
    font-size: 1em;
    margin-top: 0.25em;
}
    
  