/* Website's Font */
@font-face {
    font-family: "Verona Bold";
    src: url('../css/fonts/Verona-Bold.ttf');
}

body {
    font-family: "Verona Bold";
}

/* Border */ 
html {
    border: 10px solid #000000;
}

#home-div {
    margin-top: -64.8px;
}

/* Carousel */
.carousel {
    position: relative;
    width: 500px;
    height: 400px;
    margin: 0 auto;
    margin-top: -12%;
    filter: drop-shadow(25px 4px 4px rgba(0, 0, 0, 0.25));
}

.carousel__image {
    width: 500px;
    height: 400px;
    object-fit: contain;
}

.carousel__track-container {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.carousel__track {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in;
}

.carousel__slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    cursor: pointer;
}

.carousel__button--left {
    left: -70px;
}

.carousel__button--right {
    right: -70px;
}

.carousel__button img {
    width: 50px;
}

.carousel__nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.carousel__indicator {
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: rgba(0,0,0,0.3);
    margin: 0 15px;
    cursor: pointer;
    margin-top: -3%;
}

.carousel__indicator.current-slide {
    background: rgba(0,0,0,0.75);
}

.is-hidden {
    display: none;
}

.title {
    font-size: 120px;
    line-height: 277px;
    text-align: center;
    margin-top: -3%;
    letter-spacing: -0.04em;

    color: #000000;

    text-shadow: 29px 4px 4px rgba(0, 0, 0, 0.25);
}

#connect {
    font-size: 35px;
    line-height: 63px;
    text-align: center;
    margin-bottom: -1%;
    letter-spacing: -0.04em;

    color: #000000;

    text-shadow: 6px 4px 4px rgba(0, 0, 0, 0.25);
}

#connect:hover {
    color: #FDF13D;
}

#footer {
    font-size: 25px;
    line-height: 50px;
    text-align: center;
    letter-spacing: -0.04em;

    color: #000000;

    text-shadow: 6px 4px 4px rgba(0, 0, 0, 0.25);
}
